.contact-content{
    position: relative;
    padding-top: 2.45rem ;
    height: 100vh;
}

.contact-content::after{
    content: "";
    background: url('../IMG/home-bg.jpg') no-repeat center center/cover;
    position:absolute;
    top: 5%;
    width: 100%;
    height: inherit;
    opacity: 0.17;
    border-radius: 12px;
    z-index: -1;
}

.article-heading{
    padding-left: 170px; 
    padding-top: 1rem;
}

.contact-form{
    width: 33vw;
    margin-top: 3.45rem;
}

.form-box button{
    float: right;
}